# Allow MediaCodec to get H/W accelerated codecs
allow mediacodec audio_device:chr_file { open read write ioctl };
allow mediacodec sysfs:file r_file_perms;

